services:
  ast-db:
    image: postgres:18.1-bookworm
    container_name: ast-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env
    ports:
      - "5489:5432"
    volumes:
      - /var/lib/ast-pg18:/var/lib/postgresql:rw
      - ./_docker/postgres/custom-postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    networks:
      - ast-network

  ast-goose:
    build:
      context: .
      dockerfile: _docker/goose/Dockerfile
    volumes:
      - ./migrations:/app/migrations
    env_file:
      - .env
    networks:
      - ast-network
    depends_on:
      - ast-db

  ast-mockery:
    build:
      context: .
      dockerfile: _docker/mockery/Dockerfile
    volumes:
      - ./:/app/
    env_file:
      - .env
    networks:
      - ast-network

networks:
  ast-network:
    driver: bridge